html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  /* color: white; */
}

.scroll-off {
  overflow: hidden;
}

main {
  position: relative;
  width: 899px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 230px;
  margin: 0 auto;
  left: -85px;
}

.info {
  position: fixed;
  width: 195px;
  margin-left: -210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  top: 0;
  /* border-right: 1px solid #333; */
}

.photo {
  width: 135px;
  height: 135px;
  background-color: #e4e4e4;
  background-image: url(../img/photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 40px;
  margin-bottom: 15px;
}

.name {
  font-size: 21px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.menu {
  margin-bottom: 50px;
}

.menu-item {
  display: block;
  font-size: 16px;
  line-height: 1;
  color: black;
  text-decoration: none;
  padding: 8px 0;
}

.menu-item span {
  position: relative;
  padding-bottom: 2px;
}

.menu-item:hover span, 
.active span {
  background-image: linear-gradient(to top, #ffff00, #ffff00 6px, transparent 6px);
}

.contacts {
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contacts a {
  display: block;
  margin: 0;
  margin-right: 0px;
  /* background-color: #eaeaea; */
  border-radius: 50%;
}

.contacts .behance {
  margin-left: -7px;
}

.contacts svg {
  width: 42px;
  height: 42px;
}

.contacts svg .content {
  fill: black;
}

.contacts a:hover:not(.email) {
  background-color: #ffff00;
  /* box-shadow: 0 0 0 1px black; */
}

.contacts a.email {
  font-size: 16px;
  line-height: 1.2;
  padding: 6px 0;
  text-decoration: none;
  position: relative;
  background-color: transparent;
  color: black;
  margin-top: 5px;
}

.contacts a.email span {
  position: relative;
  padding-bottom: 3px;
}

.contacts a.email:hover span {
  background-image: linear-gradient(to top, #ffff00, #ffff00 6px, transparent 6px);
}

.page-name {
  font-size: 55px;
  line-height: 1;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 30px;
  font-weight: normal;
  display: none;
}

.topic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-bottom: 10px;
}

h2 {
  font-weight: 400;
  font-size: 55px;
  line-height: 1;
  padding-top: 20px;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  /* border-bottom: 1px solid #444444; */
}

.set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.item-preview {
  position: relative;
  margin-bottom: 35px;
  cursor: pointer;
  width: 437px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 1px 0 #d2d2d2;
  border-radius: 3px;
  box-sizing: border-box;
}

/*
.full {
  flex-grow: 0;
  width: 100%;
}

.two-third {
  flex-grow: 0;
  width: 591px;
}

.half {
  flex-grow: 0;
  width: 437px;
}

.one-third {
  flex-grow: 0;
  width: 283px;
}
*/
.item-preview:hover {
  box-shadow: 0 1px 1px 0 #b6b6b6;
}

.item-preview:hover:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  /* border-top-right-radius: 5px; */
  background-image: url(../img/zoom.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.caption span {
  position: relative;
  padding-bottom: 1px;
}

.preview {
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
  /* border-radius: 4px; */
  /* box-shadow: 0 0 0 5px #ffffff; */
}


.caption {
  font-size: 12px;
  line-height: 1.2;
  color: #525d6f;
  margin-top: 12px;
  margin-bottom: 5px;
  width: 100%;
  overflow: visible;
  display: inline-block;
}

.item-preview:hover .caption {
  color: black;
}

.item-preview~.caption {
  margin-top: -12px;
  margin-bottom: 25px;
}

/* .item-preview:hover .caption {
  color: #ffff00;
} */

.module {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.item-image {
  display: inline-block;
  max-width: 90%;
  margin: 50px auto;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0 10px 40px;
  position: relative;
}

.image {
  width: 100%;
  display: block;
}

.close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -32px;
  top: 0;
  background-image: url(../img/close-btn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .5;
}

.close-btn:hover {
  opacity: 1;
}

.show {
  display: block;
}

@media (max-width: 1380px) {
  main {
    margin: 0;
    left: 0;
  }
}

/* @media (max-width: 1175px) {
  main {
    padding-left: 170px;
  }

  .info {
    width: 145px;
    margin-left: -155px;
  }

  .photo {
    width: 105px;
    height: 105px;
    margin-bottom: 15px;
  }

  .name {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .menu {
    margin-bottom: 40px;
  }

  .menu-item {
    font-size: 12px;
    padding: 7px 0;
  }

  .contacts a {
    margin-right: 9px;
  }

  .contacts a svg {
    width: 31px;
    height: 31px;
  }

  .contacts a.email {
    font-size: 12px;
    margin-top: 10px;
  }
} */